.title{
  text-align: center;

  background-image: url(images/lviv1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 150px;
  /* height: 325px; */
  color: #00499c;
}
