.title{
  text-align: center;

  background-image: url(images/lviv1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 150px;
  /* height: 325px; */
  color: #FFFFFF;
}
